@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Reset */
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

/* Root */
:root{
    --background-main: #41B3A3;
    --background-secondary: #E27D60;
}

/* Global */
h1, h2, h4, p, ul{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
body{
    background-color: var(--background-main);
}
.logo{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #C38D9E;
}
.logo img{
    width: auto;
    height: 100%;
}
.header{
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
}

/* Homepage */
.group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.group__item, .group__item-card{
    position: relative;
}
.group__item-card, .group__item-card__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group__item-card{
    width: 400px;
    height: 600px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px #C38D9E;
    transition: .5s ease;
}
.group__item-card a img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.group__item-card__description{
    position: absolute;
    width: 100%;
    height: 100%;
    gap: 40px;
    background-color: #e27c6085;
    pointer-events: none;
    opacity: 0;
    transition: .5s ease;
}
.group__item-card:hover{
    transform: scale(1.01);
    transition: .5s ease;
}
.group__item-card:hover .group__item-card__description{
    opacity: 1;
    transition: .5s ease;
}
.group__item h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #E27D60;
}

/* Recipe Page */
.recipe, .content__image img{
    height: 100vh;
}
.recipe{
    width: 100vw;
    overflow: hidden;
}
.content{
    display: flex;
    width: 100%;
}
.content__image{
    width: 33%;
    overflow: hidden;
}
.content__post{
    width: 100%;
    height: 85vh;
    overflow: auto;
    padding: 60px 40px;
}
.content__post h1{
    text-align: center;
}
.content__post h2{
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}
.content__post::-webkit-scrollbar{
    width: 5px;
}
.content__post::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #ffffff80;
}
.content__post-description{
    padding: 20px 40px;
}
.content__post-description ul, .content__post-description li{
    padding-bottom: 20px;
}


/* Media */
@media (max-width: 819px) {
    .group__item-card__description{
        display: none;
    }
    .group__item h2{
        display: block;
    }
    .content{
        flex-direction: column;
    }
    .content__image{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content__image img{
        width: 100%;
        height: auto;
    }
    .content__post{
        height: 70vh;
    }
}
@media (max-width: 1400px) {
    .group{
        flex-wrap: wrap;
    }
}